# GEMINI_API_KEY: Required for embbeddings API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# IAEDU API Key
IAEDU_API_KEY="sk-usr-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
IAEDU_ENDPOINT="https://api.iaedu.pt/agent-chat//api/v1/agent/xxxxxxxxxxxxxxxxxxxx/stream"
IAEDU_CHANNEL_ID="xxxxxxxxxxxxxxxxxxxxxxxx"
IAEDU_THREAD_ID="xxxxxxxxxxxxxxxxxxxxxxx"
IAEDU_USER_INFO="{xxxxxxxxxxxxx}"
